/* Author: Naeem Khwajazada */
:root {
    --chart-size-x: 500px; /* default size for 10x10 */
    --cell-size: calc(calc((var(--chart-size-x) / 10)) - 2px); /* default size for 10x10 */
}

body {
    /* text */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.grid {
    /* shape */
    width: var(--chart-size-x);
    height: var(--chart-size-x);
    border: 1px solid black;
    background: greenyellow;
    /* placement */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    /* shape */
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    /* text */
    font-size: 30px;
    color: red;
    user-select: none;
    justify-content: center;
    align-items: center;
    /* placement */
    display: flex;
}

.button-menu {
    width: 400px;
    height: 50px;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    /* text */
    font-size: 20px;
    color: black;
    align-items: center;
}

.button-menu button {
    /* shape */
    width: 100px;
    height: 50px;
    background-color: #888;
    border: none;
    /* text */
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    /* placement */
    display: flex;
}

.button-menu input[type="number"] {
    /* shape */
    width: 98px;
    height: 48px;
    background-color: #888;
    border: none;
    /* text */
    font-size: 20px;
    color: white;
    /* placement */
    display: flex;
}

.input-lable {
    /* shape */
    width: 150px;
    height: 50px;
    border: none;
    /* placement */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}